.carousel {
  height: 80vh !important;
  @media only screen and (max-width: 650px) {
    height: 30vh !important;

  }

  &.carousel-slider {
    .carousel-item {
      display: block;

      img {
        object-fit: cover;
      }
    }
  }
}

