@import "variables";

.navbar-fixed {
  .nav {
    background-color: white;
    box-shadow: none;
    .nav-wrapper {
      width: 60%;
      margin: 0 auto;
      .brand-logo {
        .logo {
          width: 100px;
        }
      }
      a {
        color: $link-color;
        &:hover {
          color: $hover-link-color;
          background-color: $hover-link-background-color;
        }
      }
    }
  }
}
