@media screen and (max-width: 986px) {

  img {
    width: 100%;
  }
  main .article {
    margin-top: -50px;
  }
  .player {
    width: 90%;
  }
}

@media only screen and (max-width: 986px) {
  @import "variables";
  #content {
    .carousel {
      height: 57vh !important;
    }
    margin-top: 100px;
    .card .card-article {
      max-height: 600px;
    }
  }
  .navbar-fixed {

    .nav {
      height: 120px;
      background-color: white;
      line-height: 36px;
      margin-bottom: 5px;

      &.nav-small {
        height: 100px;
        line-height: 30px;
      }

      .nav-wrapper {
        display: block;
        background-color: white;
        height: 100px;
        margin: 0;
        width: 100%;

        .brand-logo {
          position: relative;
          display: block;
          text-align: center;
          width: 100%;

          .logo {
            width: 110px;
            margin-top: 5px;

            &.logo-small {
              width: 80px;
            }
          }
        }

        .sidenav-trigger {
          color: black;
          display: none;
        }

        .right {
          display: block;
          width: auto;
          text-align: center;
          height: 20px;
          margin: 0 auto;
          float: none !important;
              left: 25%;
    position: relative;
        }
      }
    }
  }

  .footer p {
    font-size: 14px;
  }
  .carousel {
    height: 30vh !important;
  }
  .card {
    .card-article {
      padding: 3px;

      .card-body {
        bottom: 100px;
      }
    }
  }
}

